HTTP If-Match concurrency headers

Running the test suite, it looks like there's a bug in the code that sends over If-Match / If-None-Match headers.

RFC 2616 section 3.11:

```
entity-tag = [ weak ] opaque-tag
weak = "W/"
opaque-tag = quoted-string
```

14.24:

```
If-Match = "If-Match" ":" ( "*" | 1#entity-tag )
```

Requests coming from the test suite include headers of the sort:
```
If-Match: e5fce8f9a08ed3d75cbe2ebc38574e1afd0bc13c
```

The syntax should be:
```
If-Match: "e5fce8f9a08ed3d75cbe2ebc38574e1afd0bc13c"
```